[global]
font = {{font.main}} {{font.ui_size}}
frame_color = {{colors.border}}
separator_color = {{colors.border}}

[urgency_normal]
background = {{colors.surface}}
foreground = {{colors.text}}
timeout = 6
